@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Matthew D. Miller<br />
    Tallahassee, FL. 32303<br />
    <abbr title="Phone">P:</abbr>
    850-933-9186
</address>

<address>
    <strong>Personal:</strong> <a href="mailto:sysnom@gmail.com">sysnom@gmail.com</a><br />
    <strong>Business:</strong> <a href="mailto:mmiller@vrsystems.com">mmiller@vrsystems.com</a>
</address>